html, body {
  margin: 10px;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.container {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 16px;
}

#title {
  grid-column: 1/4;
  border: none;
}

#title h1 {
  margin: 0;
  font-size: 32px;
}

#source {
  grid-row: 2/3;
  cursor: pointer;
}

#canvas {
  grid-row: 2/5;
  padding: 0;
}

#advertisement {
  grid-row: 2/5;
  visibility: hidden;
}

#credits h2 {
  font-size: 24px;
  text-align: center;
}

#credits li {
  margin: 10px 0;
}

.contributor {
  font-weight: bold;
}
